<?xml version='1.0' encoding='utf-8'?>

<launch>

    <!--打开语音唤醒-->
    <node pkg = "castlex_voice_system" type = "castlex_awake_node" name = "castlex_awake_node" output="screen">
        <param name="lgi_param" value="appid = 551d49a3, work_dir = ." />
        <param name="response" value="/home/castlex/.ws/castlex_voice_system/res/music/wozai.wav" />
        <param name="ssb_param_path" value="/home/castlex/.ws/castlex_voice_system/res/ivw/wakeupresource.jet" />
        <param name="audio_file_path" value="/home/castlex/.ws/castlex_voice_system/bin/audio/awake.wav" />
    </node>

    <!--打开语音合成-->
 <node pkg = "castlex_voice_system" type = "castlex_tts_node" name = "castlex_tts_node" output="screen">
        <!--会话参数-->
	    <!--参数voice_name  发音人 可选项为 -->
        <!--参数speed  语速 取值范围[0,100] -->
        <!--参数volume  音量 取值范围[0,100] -->
        <!--参数samplerate  合成采样率 取值16000或8000 -->
        <!--参数rdn  合成音频数字发音，支持参数，0 数值优先,1 完全数值,2 完全字符串,3 字符串优先，默认值：0 -->
        <param name="appid" value="appid = 551d49a3, work_dir = ." />
        <param name="speech_param" value="voice_name = vixy, text_encoding = utf8, sample_rate = 16000, speed = 50, volume = 50, pitch = 50, rdn = 0" />
        <param name="fileName_path" value="./voice.wav" />
        <param name="playPath_path" value="play ./voice.wav" />
    </node>

    <!--打开语义理解-->
    <node pkg = "castlex_voice_system" type = "castlex_nlu_node" name = "castlex_nlu_node" output="screen">
        <param name="userid" value="HGcastle" />
        <param name="tuling_key" value="28547145be394c5cacfc5981e093836e" />

    </node>
    
    <!--打开语音识别-->
    <node pkg = "castlex_voice_system" type = "castlex_asr_node" name = "castlex_asr_node" output="screen">
        <param name="speech_param" value="sub = iat, domain = iat, language = zh_cn, accent = mandarin, sample_rate = 16000, result_type = plain, result_encoding = utf8" />
    </node>

</launch>
